<div class="page-container">

	<div class="items-filter-container">

		<div class="listing-panel-heading">

			<div class="ph-widget ph-carousel widget-category-navigation widget-category-navigation-carousel js-widget-category-navigation-carousel ph-at-begin ph-at-end">

				<div class="ph-scroller">

					<div class="ph-body">

						<a href="#"class>

							<div class="thumbnail-wrapper">

								<div class="thumbnail">

									<img src="" alt="">

								</div>

							</div>

							<div class="card-title semibold">

								<span>P4 Games</span>

							</div>

						</a>

						<a href="#"class>

							<div class="thumbnail-wrapper">

								<div class="thumbnail">

									<img src="" alt="">

								</div>

							</div>

							<div class="card-title semibold">

								<span>PS5 Games</span>

							</div>

						</a>

						<a href="#"class>

							<div class="thumbnail-wrapper">

								<div class="thumbnail">

									<img src="" alt="">

								</div>

							</div>

							<div class="card-title semibold">

								<span>Gaming Chair</span>

							</div>

						</a>

					</div>

				</div>

			</div>

		</div>

		<div class="listing-panel-body listing-active-filters-holder js-head-active-filters">

			<div class="listing-grid-group-scroller-outer hidden-scroller">

				<div class="listing-grid-group-scroller-inner">

					<div class="header-filter-item hidden-xs hidden-sm">
						<div class="name-label">
						<span class="control-label"> Price:</span>
						</div>

						<div class="input-group input-group-sm">

							<div class="ph-widget ph-select form-control js-filter-select">
								<input type="number" min="1500" max="9999" class="input-price-filter" value="1">
								<span class="input-to-price">-</span>
								<input type="number" min="1500" max="9999" class="input-price-filter2" value="9999">
								
								<a href="#" class="ph-label"></a>

							</div>

							<div class="input-group-btn">


							</div>

						</div>

					</div>

						

					</div>

				</div>

			

			</div>

			

		</div>

		<div class="listing-panel-footer js-head-sort-options">

			<div class="sort-control-group">

				<div class="sort-control-item">

					<ul class="control-filters">

						
						
						<li class="control-filter-li">

							<button class="btn-filter" type="button" id="js-orderby-btn">

								<span class="filter-name orderby-filter">Order By</span>

							</button>

							<div class="listing-sorting-dropdown" id="js-sorting-collapse">

							<ul class="dropdown-menu orderby-links">

								<li class="">

									<a href="#" class="orderby-a" data-id="Most Popular">Most Popular</a>

								</li>

								<li class="">

									<a href="#" class="orderby-a" data-id="Newest">Newest</a>

								</li>

								<li class="">

									<a href="/" class="orderby-a" data-id="Price: Low to high">Price: Low to high</a>

								</li>

								<li class="">

									<a href="/" class="orderby-a" data-id="Price: high to Low">Price: high to Low</a>

								</li>

							</ul>

							</div>

						</li>
						
				



						

						<li class="control-filter-li">

							<button class="btn-filter" id="js-orderby-btn2">

								<span class="filter-name orderby-filter">Prod/page</span>

							</button>

							<div class="listing-sorting-dropdown2" id="js-sorting-collapse2">

								<ul class="dropdown-menu">

									<li class="active">

										<a href="/limit/1" class="short-option">25/page</a>

									</li>	

									<li class="">

										<a href="/limit/2" class="short-option">35/page</a>

									</li>	

									<li class="">

										<a href="/limit/3" class="short-option">

											50/page

										</a>

										</li>

									<li class="">

										<a href="/limit/4"class="short-option">70/page</a>

									</li>
									
									
					

						

					</ul>

				</div>

			</div>

				



		</div>

	</div>
</div>

