<div class="container">

	<div class="main-items-container">

		<div class="sidebar-container-head"></div>

		<div class="sidebar-container-body">

			<div class="menu-sidebar-tree">

				<div class="sidebar-tree-subdepartment">

					<div class="sidebar-main-tree">

						<a href="#" class="sidebar-tree-head">Laptopuri si accesorii

							<small>(1234)</small>

						</a>

					</div>

					<div class="sidebar-tree-body">

						<a href="" class="selected">Laptopuri

							<small>(1234)</small>

						</a>

					</div>

				</div>

			</div>

		</div>

		<div class="sidebar-container sidebar-filter-container js-mobile-main-filters-sidebar">

			<div class="sidebar-container-head">

				<div class="js-filter-status-holder hidden-xs">

					<a href="#" class="sidebar-container-element filter-head icon-right text-danger has-delete js-load-search-url">

						<span class="filter-delete">Delete all filters</span>

					</a>

				</div>

			</div>

			<div class="sidebar-container-body">

				<a href="#" class="sidebar-container-element icon-right text-danger has-delete js-load-search-url"></a>



				<div class="filter filter-default js-filter">

					<a href="#" class="ph-widget ph-collapse-one filter-head icon-right has-arrows js-collapse-trigger gtm_sqpeiyr">

						<span class="filters-name arrow-down ">Price</span>

					</a>

					<div class="collapse" id="js-filter-collapse">

						<div class="filter-body js-scrollable">

							<a href="#" class="js-filter-item filter-item active">





								<span class="text-test">1000 - 5000</span>

							</a>

							<a href="#" class="js-filter-item filter-item">

								<span class="text-test">Peste 5000</span>

							</a>

						</div>

					</div>

				</div>



				<div class="filter filter-default js-filter">

					<a href="#" class="ph-widget ph-collapse-one filter-head icon-right has-arrows js-collapse-trigger gtm_sqpeiyr">

						<span class="filters-name arrow-down ">Brand</span>

					</a>

					<div class="collapse" id="js-filter-collapse">

						<div class="filter-body js-scrollable">

							<a href="#" class="js-filter-item filter-item">

								<span class="text-test">In stoc</span>

							</a>

							<a href="#" class="js-filter-item filter-item">

								<span class="text-test">News</span>

							</a>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>