<header class="main-header">

  <div class="main-container-outer">

		<nav class="navbar navbar-main">

			<div class="navbar-container">

				<div class="navbar-inner">

					<div class="navbar-branding">

						<div class="navbar-trigger">

							<a href="#" class="btn btn-info">

								<i class='bx bx-menu' ></i>

							</a>

						</div>

						<div class="logo">

							<a href="/" class="link-logo"><span class="title">ALCRRO</span></a>

						</div>

					</div>

					<div class="navbar-toolbox">

						<div class="btn-group navbar-toolbox-wrapper">

							<div class="btn-group">

								<a href="/login" class="btn btn-link navbar-main-btn">

									<i class='bx bx-user navbar-icon' ></i>

									<span class="visible-lg-line">My Account

										<i class="caret"></i>

									</span>

								</a>

							</div>

							<div class="btn-group">

								<a href="/favorite" class="btn btn-link navbar-main-btn">

									<i class='bx bx-heart navbar-icon' ></i>

									<span class="visible-lg-line">Favorite

										<i class="caret"></i>

									</span>

								</a>

							</div>

							<div class="btn-group">

								<a href="/myCart" class="btn btn-link navbar-main-btn btn-myCart">

									<i class='bx bx-cart navbar-icon' ></i>

									<span class="visible-lg-line">My Cart

										<i class="caret"></i>

									</span>

								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</nav>

	</div>

</header>

