<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="/css/navigation.css">

<body>
<header class="main-header">

  <div class="main-container-outer">

		<nav class="navbar navbar-main">

			<div class="navbar-container">

				<div class="navbar-inner">

					<div class="navbar-branding">

						<div class="navbar-trigger">

							<a href="#" class="btn btn-info">

								<i class='bx bx-menu' ></i>

							</a>

						</div>

						<div class="logo">

							<a href="/" class="link-logo"><span class="title">ALCRRO</span></a>

						</div>

					</div>

					<div class="navbar-toolbox">

						<div class="btn-group navbar-toolbox-wrapper">

							<div class="btn-group dropdown">

								<a href="#" class="btn btn-link navbar-main-btn dropbtn">

									<i class='bx bx-user navbar-icon' ></i>

									<span class="visible-lg-line dropbtn">My Account

										<i class="caret"></i>

									</span>
								</a>

								<div class="dropdown-content">
									<span class="dropdown-text">Intra in cel mai smecher Cont, ca sa iti gasesti habar nu stu</span>
									
									<% if(!isAuthenticated) { %>
									<a href="/login" class="dropdown-link">Intra in Cont</a>
									<a href="/signup" class="dropdown-link">Inregistreaza un Cont</a>
									<!-- <a href="/logout" class="dropdown-link">Iesire Cont</a> -->
									<% } else { %>
										<a href="/user-settings" class="dropdown-link">Bun Venit: </a>
										<a href="/user-settings" class="dropdown-link">Setari Cont</a>
										<a href="/admin/add-product" class="dropdown-link">Adauga Produs</a>
									<form action="/logout/" method="post">
										<button type="submit" class="dropdown-link">Logout</button>
									</form>
									<% } %>
									
								</div>
								

							</div>
							
							<div class="btn-group">

								<a href="/favorite" class="btn btn-link navbar-main-btn">

									<i class='bx bx-heart navbar-icon' ></i>

									<span class="visible-lg-line">Favorite

										<i class="caret"></i>

									</span>

								</a>

							</div>
							
							<div class="btn-group">

								<a href="/myCart" class="btn btn-link navbar-main-btn btn-myCart">

									<i class='bx bx-cart navbar-icon' ></i>

									<span class="visible-lg-line">My Cart

										<i class="caret"></i>

									</span>

								</a>

							</div>

						</div>

					</div>

				</div>

			</div>

		</nav>

	</div>

</header>

